.task-card{
  border: 2px solid rgb(230, 230, 230);
  padding: 10px 20px;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
  border-radius: 5px;
}
.head-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.cards .task {
  border: 1px solid red;
}