.signup{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup .signup-form{
  border-radius: 3px;
  box-shadow: 10px 20px 30px rgb(248,249,250);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(238, 238, 238);
  
  width: auto;
}

.signup .signup-form .btn{
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  background-color: white;
  border: 2px solid blueviolet !important;
  padding: 7px 40px !important;
  color: blueviolet;
  width: auto;
}

.signup .signup-form .btn:hover{
  background-color: blueviolet;
  color: white;
}


.signup .signup-form input {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
}

.signup .signup-form .signup-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.signup .signup-form .signup-head svg{
  height: 30px;
  width: 30px;
  color: blueviolet;
}
.signup .signup-form .account-txt{
  margin-top: 20px;
  cursor: pointer;
  font-size: 17px;
  color: rgb(0, 0, 0);
}
.signup .signup-form .account-txt a{
  color: rgb(137, 67, 202) !important;
  padding: 0 3px;
  text-decoration: underline !important;
}

